POSTGRES_USER=projecttraiding
POSTGRES_PASSWORD=projecttraiding
POSTGRES_DB=projecttraiding

CLICKHOUSE_DB=projecttraiding
CLICKHOUSE_USER=projecttraiding
CLICKHOUSE_PASSWORD=projecttraiding

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
