# PostgreSQL
POSTGRES_USER=projecttraiding
POSTGRES_PASSWORD=projecttraiding
POSTGRES_DB=projecttraiding
POSTGRES_PORT=5432

# OpenTelemetry
# Если приложение на host-машине: http://localhost:4317
# Если приложение в Docker Compose: http://otel-collector:4317
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317
OTEL_SERVICE_NAME=ProjectTraiding.Api
